<h1>Aktivacija uporabniškega računa</h1>

<p>
    Pozdravljen{{#if userGender.female}}a{{/if}}{{#if userGender.unknown}}(a){{/if}} {{ user.firstname }},
</p>

<p>
    Na portalu plezanje.net si
    ustvaril{{#if userGender.female}}a{{/if}}{{#if userGender.unknown}}(a){{/if}} nov račun, ki ga je pred uporabo
    potrebno še aktivirati.
</p>
<p>
    To narediš s klikom na spodnjo povezavo:
</p>
<p>
    <a
        href="{{ url }}">{{ url }}</a>
</p>