<h1>Aktivacija uporabniškega računa</h1>

<p>
    Na portalu plezanje.net ste
    ustvarili nov račun, ki ga je pred uporabo
    potrebno še aktivirati.
</p>
<p>
    To naredite s klikom na spodnjo povezavo:
</p>
<p>
    <a
        href="{{ url }}">{{ url }}</a>
</p>