<h1>Zavrnjen prispevek</h1>

<p>
    Pozdravljen{{#if userGender.female}}a{{/if}}{{#if userGender.unknown}}(a){{/if}} {{ user.firstname }}, tvoj prispevek na plezanje.net bo potrebno še popraviti.
</p>

<p>
    Sporočilo uredništva:
</p>
<p>
    {{ message }}
</p>