<h1>Prispevek zavrnjen</h1>

<p>
    Pozdravljen{{#if userGender.female}}a{{/if}}{{#if userGender.unknown}}_a{{/if}} {{ user.firstname }},
</p>
<p>
    Tvoj prispevek <strong>{{contributionName}}</strong> je bil s strani uredništva zavrnjen.
</p>
<p>
    Sporočilo uredništva:
</p>
<p style="color: gray; padding-left:16px; padding-right:16px">
    {{ message }}
</p>

<p>
    Lep pozdrav,<br/>
    Plezanje.net
</p>