<h1>Menjava gesla</h1>

<p>
    Pozdravljen{{#if userGender.female}}a{{/if}}{{#if userGender.unknown}}(a){{/if}} {{ user.firstname }},
</p>

<p>
    Na portalu plezanje.net si zahteval{{#if userGender.female}}a{{/if}}{{#if userGender.unknown}}(a){{/if}} menjavo gesla.
</p>
<p>
    Novo geslo si lahko izbereš na spodnji povezavi:
</p>
<p>
    <a
        href="{{ url }}">{{ url }}</a>
</p>