<h1>Menjava gesla</h1>

<p>
    Na portalu plezanje.net ste zahtevali menjavo gesla.
</p>
<p>
    Novo geslo si lahko izberete na spodnji povezavi:
</p>
<p>
    <a
        href="{{ url }}">{{ url }}</a>
</p>